* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1.5rem;
}

body {
    background: #eeeeee;

}

.myheader {
    padding: 6px;
    color: white;
    background: #2c3e50;
}

form {
    color: white;
    border-radius: 10px;
    margin: 1rem auto;
    width: 50%;
    padding: 1rem;
    background: #34495e;
    box-sizing: border-box;

}

form>span {
    box-sizing: border-box;
    float: left;
    width: 50%;
    text-align: left;

}

form>input {
    box-sizing: border-box;
    width: 50%;
    float: right;
}

form::after {
    content: '';
    display: block;
    clear: both;
}

button {
    border-radius: 10px;

    color: white;
    background: #34495e;
    padding: 0.5rem 1rem;
    border: none;
    transition: ease-in-out 0.1s;
}

button:hover {
    box-shadow: 0 0 2px black;
}

@media only screen and (max-width:600px) {

    form {
        width: 90%;

    }

    form>input {
        width: 100%;
    }

}