* {
    margin: 0;
    padding: 0;
}

body {
    background: #ececec;
    text-align: center;
}

.top-part {
    height: 4rem;
    background: rgb(0, 167, 0);
    text-align: center;
}

.top-part>h2 {
    text-transform: uppercase;
    color: white;
    line-height: 4rem;
}

.note-input,
button {
    padding: 1rem;

}

.note-input {
    margin: 1rem;
    width: 20%;
    border-radius: 2px;
    border: 1px solid rgb(100, 100, 100);
    color: black;
}

button {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.39);
    background: rgb(0, 167, 0);
    color: white;
    border: none;
    transition: ease-in-out 0.3s;
}

button:hover {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.616);
}

.note-showcase {
    margin: 0 auto;
    width: 50%;
}

ul {
    list-style: none;

}

li {
    border: 1px solid gray;
    transition: ease-in-out 0.3s;

}

li:hover>* {
    visibility: visible;
}


.item {
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
    margin-top: 1rem;
    border-radius: 2px;
}
