*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.banner{
    background: rgb(65, 0, 150);
    width: 100%;
}
.banner > h2{
    color: #fff;
    padding: 2rem;
    font-size: 2rem;
}

.clock,.clock2{
    width: 100%;
    height:20rem;
    background: #eee;
    /* color: black; */
    color: rgb(65, 0, 150);
}

.clock > p , .clock2 > p {
    font-size: 3rem;
    box-sizing: border-box;
    line-height: 20rem;
}
.clock2{
    background: #fff;
}