* {
  box-sizing: border-box;

}

input,
button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  margin: 4px auto;
  transition: ease-in-out 0.3s;
  width: 300px;

}

body {
  position: relative;
}

.login {
  color: rgb(245, 245, 245);
  background: rgb(99, 99, 99);
  border: none;
  border-radius: 2px;
}

input:hover,
button:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
}


button {
  color: white;
}
input:focus {
  outline-color: rgb(99, 99, 99);
  border-color: rgb(44, 44, 44);
  color: gray;
}

div {
  margin-top: 20%;
  text-align: center;
  translate: (-50%, -50%);

}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);

  }

  100% {
    opacity: 1;
    transform: translateY(0);


  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);

  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);

  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

.fade-in {
  animation: fadeIn 1.0s ease forwards;
}

form{
  display: flex;  
  flex-direction: column;
}